@import "tailwindcss";

@theme {
	--font-darumadrop: "Darumadrop One", sans-serif;
	--font-rubik: Rubik, sans-serif;
	--font-pangolin: "Pangolin", sans-serif;
	--font-nanum: "Nanum Pen Script", sans-serif;

	--color-red: #ff003f;
	--color-ourple: #260026;
	--color-offwhite: #bfbfbf;
	--color-whitest: #ffffff;
}

:root {
	@apply font-rubik;
}

@layer utilities {
	.highlight {
		@apply font-[inherit] p-0.5 bg-red text-whitest;
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

[x-cloak] {
	display: none;
}
