---
const getSpeed = (num: number) => 16 * Math.log(num + 5) + 5 * ((num + 2) % 4);
---

<div
	class="flex items-center justify-center border-4 border-red-400 rounded-xl bg-sky-950 aspect-[4/3] max-w-full"
	aria-hidden="true"
>
	<div class="flex flex-col aspect-square h-10/12">
		{
			[...Array(20)].map((_, i) => (
				<marquee
					scrollamount={getSpeed(i)}
					direction="right"
					class="text-xs leading-none text-white"
				>
					*
				</marquee>
			))
		}
	</div>
</div>
