---
const getSpeed = (num: number) => 16 * Math.log(num + 5) + 5 * ((num + 2) % 4);
---

<div
	class="flex items-center justify-center border-4 border-red rounded-xl bg-black/25 aspect-[4/3] max-w-full"
	aria-hidden="true"
>
	<div class="flex flex-col aspect-square h-10/12 justify-center overflow-hidden">
		{
			[...Array(20)].map((_, i) => (
				<div
					style={{ "--marquee-speed": getSpeed(i) }}
					class="animate-marquee grow min-h-0 basis-0 text-xs leading-none text-white"
				>
					*
				</div>
			))
		}
	</div>
</div>

<style>
	.animate-marquee {
		animation: marquee calc(30s / var(--marquee-speed, 10)) linear infinite;
	}

	@keyframes marquee {
		from {
		}
		to {
			translate: 100% 0;
		}
	}
</style>
