---
type Props = {
	title: string;
	first?: boolean;
};

const { title, first } = Astro.props;
---

{
	first ? (
		<h1 class="rounded-t pt-4 bg-red-400 font-semibold font-darumadrop text-2xl pb-[0.25ch] text-amber-100 px-[min(3rem,4vw)] flex flex-col gap-4 max-w-[95vw] w-124">
			{title}
		</h1>
	) : (
		<h2 class="bg-red-400 font-semibold font-darumadrop text-2xl pb-[0.25ch] text-amber-100 px-[min(3rem,4vw)] flex flex-col gap-4 max-w-[95vw] w-124">
			{title}
		</h2>
	)
}
<div class="px-[min(3rem,4vw)] flex flex-col gap-4 max-w-[95vw] w-124">
	<slot />
</div>
