---
import type { HTMLAttributes } from "astro/types";

type Props = { index: number } & HTMLAttributes<"div">;
const { index, class: classes, ...rest } = Astro.props;
---

<div
	x-cloak
	:class={`{ 'duration-500': loaded, 'z-10': sidebar == ${index}, 'not-lg:invisible': sidebar != ${index}, 'not-lg:-translate-x-[100vw]': sidebar > ${index}, 'not-lg:translate-x-[100vw]': sidebar < ${index} }`}
	class={`ease-in-out not-lg:absolute h-svh overflow-y-scroll no-scrollbar scroll-mb-0 py-8 ${classes ?? ""}`}
	{...rest}
>
	<div class="flex flex-col gap-4 bg-black/25 backdrop-blur-sm rounded text-offwhite pb-4">
		<slot />
	</div>
</div>
