---
import type { HTMLAttributes } from "astro/types";
import "../styles/global.css";

type Props = HTMLAttributes<"body">;
const props = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="this website will ruin your life" />
		<link rel="icon" type="image/svg+xml" href="/icons/default.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>antehl.net</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Pangolin&family=Nanum+Pen+Script&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
			rel="stylesheet"
		/>

		<script>
			import "htmx.org";
		</script>
	</head>
	<body {...props}>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
